<section>
    <div class="card">
    <div class="card-image image-left">
        <figure class="image is-4by3">
            <img src="{{image_data}}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">Title: {{title}}</p>
                <p class="subtitle is-6">Artist Name: {{Users.[0].first_name}} {{Users.[0].last_name}}</p>
            </div>
        </div>
        <div class="content">
            {{!-- {{details}} <a href="#">@artist</a>.
            <a href="#">Categories</a>
            {{#each Categories as || }}
            <a href="#">Tags</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> --}}
        </div>
        <a href='/sale/{{id}}'><button class="button is-primary" type='submit'>Purchase</button></a>
    </div>
</div>
</section>